.tvstream__counter {
    background-color: var(--blueWithOpacity);
    padding: 2rem;
    border-radius: .4rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.tvstream__counter p{
    margin: 0;
}