.tvstream__stream__card_top {
    position: relative;
    overflow: hidden;
    border-radius: .4rem;
}

.tvstream__href {
    text-decoration: none;
    color: var(--black);
}

.tvstream__stream__card img {
    width: 100%;
    height: 100%;
    border-radius: .4rem;
}

.tvstream__stream__card_viewer {
    position: absolute;
    font-family: 'Bebas Neue', sans-serif;
    bottom: 1.4rem;
    left: 1.4rem;
    background-color: var(--blueWithOpacity);
    backdrop-filter: blur(16px);
    padding: .5rem 1rem;
    border-radius: .2rem;
    color: var(--white);
}

.tvstream__stream__card p {
    margin: 0
}

.tvstream__stream__card_bottom {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    margin-top: .5rem;
}

.tvstream__stream__card_userinfo p {
    padding: 0;
}

.tvstream__stream__card_userinfo {
    display: flex;
    flex-direction: column;
    margin-left: .5rem;
    gap: .5rem;
}

.tvstream__stream__card_username {
    font-size: 1.4rem;
}

.tvstream__stream__tag {
    font-size: 1.4rem;
    border-radius: .4rem;
    padding: .2rem .4rem;
}

.tvstream__stream__card_title {
    font-weight: bold;
}

.tvstream__stream__card_bottom .tvstream__stream__card_avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
}

.tvstream__stream__card_thumbnail {
    width: 100%;
    transition: transform 0.3s ease;
}

.tvstream__stream__card:hover .tvstream__stream__card_thumbnail {
    transform: scale(1.1);
}

.tagSASP {
    background-color: var(--sasp);
}

.tagEMS {
    background-color: var(--ems);
}

.tagFA {
    background-color: var(--fa);
}

.tagWL {
    background-color: var(--wl);
}

.baseTagClass {
    color: var(--white);
    font-size: 1.2rem;
    padding: .5rem 1rem;
    border-radius: .4rem;
}


.tvstream__stream__card_tags {
    display: flex;
    gap: .5rem;
}